.search-nav{
    overflow: hidden;
    background-color: blue;
    margin-top: -2%;
    width: 99.3%;
}

.landing-parent {
  height: 560px;
//   overflow: hidden;
   background-image: linear-gradient(blue, rgb(238, 22, 220));
   width: 100.4% !important;
  //   background-image: url("../../../Image/Cat.png");
//   background-repeat: no-repeat;
//   background-size: 650px;
//   background-position: right;
//   // padding-bottom: 14%;
//   background-color: white;

  .text-bcgrnd {
    margin: auto;
    margin-top: 18%;
    margin-left: 7%;
    // width: 100% !important;
    padding: 10px;
    border-radius: black;
    .btn-white {
        background-color: whitesmoke;
        &:hover{
            background-color: white;
        }
    }
    .botton-dwn {
      // color: white;
      font-weight: bold;
      // background-color: #a8cc74;
      // padding: 12px 28px;
      height: 42px;
      margin-right: 2%;
      font-weight: 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      line-height: normal;
      border: none;
    }
    h1 {
      // font-family: Lato;
      font-style: normal;
      line-height: 1.2;
      font-weight: bold;
      font-size: 57px;
      margin-bottom: 10px;
      width: 600px;
      cursor: default;
      // line-height: 50px;
      animation: changeColor 10s infinite;
    }
    p {
      margin: 10px 0 30px;
    }
  }
  .landing-child{
    position: relative;
  .favourite-image{
    position: relative;
    width: 104%; 
    // border: 3px solid red;
  }
  }
}

// Features div
.bg-whitesmoke{
    // background-color: whitesmoke;
.features {
// background-color: whitesmoke;
  padding: 7% 10%;
  .feature-box {
    text-align: center;
    padding: 5%;
    font-weight: bold;
    .fontIcon {
      color: rgb(162, 10, 162);
      // background-image: linear-gradient(red, yellow);
      margin-bottom: 1rem;
      &:hover {
        color: rgb(221, 11, 221);
      }
    }
    h3 {
      font-weight: 800;
    }
    p {
      color: #8f8f8f;
    }
  }
}
}